$font_family_SSP: 'Source Sans Pro', sans-serif;
$font_family: 'Hind', sans-serif;
$img_header: url("../img/m-h-day.jpg") no-repeat center;
$body_bg_color: #fff;
$button_color: #699900;
$underline_text: #14a0c7;
$main_font_color: #2c2f3c;
$text_color: #fff;
$background: #21232e;
$map_gradient: ('from':#66aa00, 'to':#295ad8);