$font_family_SSP: 'Source Sans Pro', sans-serif;
$font_family: 'Fresca', sans-serif;
$img_header: url("../img/m-h-night.jpg") no-repeat center;
$body_bg_color: #21232e;
$button_color: #e3ac00;
$underline_text: #ff4e33;
$main_font_color: #fff;
$text_color: #fff;
$background: #3b3f50;
$map_gradient: ('from':#dea401, 'to':#972f4d);